/* You can add global styles to this file, and also import other style files */

.container {
  max-width: 960px;
}

body {
  font-family: 'Roboto Slab', serif;
}

.site-header {
  background-color: #93d8f7;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  color: #212529;
}

.site-header a {
  color: #212529;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: white;
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.button1 {
  margin-top: 38px;
  border-radius: 19px;
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
  width: 30%;

}

.bt1 {
  background-color: #333;
  color: white;

}

.diff {
  background-color: white;
  margin-left: 5%;
}

.kopce-apteka {
  height: 77px;
  width: 170px;
  padding-top: 20px;

}

.kopce-zdr {
  height: 77px;
  width: 170px;
}

.kopce-zabol {
  width: 22%;
  color: white;
}

.button1:hover {
  background-color: white;
  color: #333;
}

.bt1:hover {
  background-color: transparent;
}

.diff:hover {
  background-color: transparent;
}

.glaven {
  background-color: #93d8f7;
}

.naslov {
  font-size: 43px;
  animation-name: dviziInleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.podnaslov {
  font-size: 35px;
  animation-name: dviziInleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  margin-top: 20px;
}

.table {
  text-align: left;
}

.nav-desno {
  margin-left: auto;
}

.pad-nav {
  padding: 10px;
}

@keyframes dviziInleft {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }

  80% {
      transform: translateX(10px);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

.no-link-color {
  color: #333;
}

.detali {
  padding-top: 40px;
  background-color: #93d8f7;
  padding-bottom: 40px;
}

.main {
  background-color: #93d8f7;

}

.lista-element {
  padding-top: 15px;
}

.kopce-detali {
  width: 48%;
  color: white;
  font-size: 14px;
}

.back {
  background-color: white;
  color: #333;
}


/* .mapaContainer {
  width: 50%;
  margin-top: -8%;
  margin-left: 54px;

}



#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#right-panel {
  visibility: hidden;
  float: right;
  width: 320px;
  margin-right: -385px;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
  height: 400px;
  overflow: scroll;
  background: white;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}


#map {
  margin-right: 400px;
  width: 58%;
  height: 89%;
  overflow: visible;
  position: absolute;
}


@media print {
  #map {
      height: 500px;
      margin: 0;
  }

  #right-panel {
      float: none;
      width: auto;
  }
}

#mode-selector {
  visibility: hidden;
  position: relative;
  width: 121%;
  top: 400px;
  z-index: 1;
  left: -12px;
  margin-left: 12px;
  padding: 5px;
  height: 46px;
  padding-left: 29%;
  color: black;
  background: white;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.adp-warnbox{
  display: none;
} */

.active-cyan-3 input[type=text] {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}

